<header>
    <div class="header-tablet">
        <div class="logo-search">
            <img class = "logo" src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre.svg">
        </div>
        <div class="search-icon">
            <form class="search-bar"action="search" method="POST">
                <label for="searh"></label>
                <input class = "search-form"type="text" aria-label="Buscar productos, marcas" name="search-bar" placeholder="Buscá productos, marcas" autocomplete="off" autocorrect="OFF">
                <button class= "search-button" type="submit">
                        <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <div class="promo">
            <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
        </div>
    </div>
    <nav class="nav-bar">
        <div class="nav-bar1">
            <ul>
                <li><a href='#'>Ofertas</a></li>
                <li><a href='#'>Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </div>
        <div class="nav-bar2">
            <ul>
                <li>
                    <a href= '/register'>Creá tu cuenta 
                    <i class="fas fa-id-card"></i></a>
                </li>
                <li>
                    <a href='/login'>Ingresá 
                    <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li>
                    <a href='#'>Mis compras
                    <i class="fas fa-shopping-basket"></i></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="burger">
        <i class="fas fa-bars"></i>
    </div>
</header>