<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1ff01f57c9.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>
<body>
    <!-- Header -->
    <%- include('./partials/header') %>
        <form action="login.html" method="POST">
            <div class="form-block">
                <p>
                    <label for="username">Nombre de Usuario</label>
                    <br>
                    <input type="text" name="username" id="username" required>
                </p>
                <br>
                <p>
                    <label for="password">Contraseña</label>
                    <br>
                    <input type="password" name="password" id="password" required>
                </p>
                <br>
                <input class= "submit-button" type="submit" value="Entrar" required>
            </div>
        </form>
    <!-- Footer -->
    <%- include('./partials/footer') %>
</body>
</html>