<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1ff01f57c9.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/images/music-solid.svg">
    <title>Mercado Liebre</title>
</head>
<body>
<!-- Header -->
<%- include('./partials/header.ejs') %>
<!-- main -->
<main>
    <h2><%= product.name %> </h2>
    <% if (product.id == '1') { %>
        <img src="../images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex.jpg">
    <% }else if(product.id == '2') {%> 
        <img src="../images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019.jpg">
    <% }else if(product.id == '3') {%> 
        <img src="../images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10.jpg">
    <% }else if(product.id == '4') {%> 
        <img src="../images/img-tv-samsung-smart.jpg" alt= "img-tv-samsung-smart.jpg">
    <% } %>
</main>
<!-- Footer -->
 <%- include('./partials/footer.ejs') %>
</body>
</html>