<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1ff01f57c9.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>
<body>
    <!-- header -->
    <%- include('./partials/header') %>
    <!-- Main -->
    <main>
        <form action="register.html" method="POST">
            <div class="form-block">
                <p>
                    <label for="name">Nombre y Apellido</label>
                    <br>
                    <input type="text" name="name" id="name" required>
                </p>
                <br>
                <p>
                    <label for="username">Nombre de Usuari@</label>
                    <br>
                    <input type="text" name="username" id="username" required>
                </p>
                <br>
                <p>
                    <label for="birthdate">Fecha de Nacimiento</label>
                    <br>
                    <input type="date" name="birthdate" id="birthdate" required>
                </p>
                <br>
                <p>
                    <label for="address">Dirección</label>
                    <br>
                    <input type="text" name="address" id="address" required>
                </p>
                <br>
                <p>
                    <label for="userType">Perfil del Usuario</label>
                </p>
                <br>
                <div class="buyer-seller">
                    <div>
                        <input type="radio" name="userType" value="Comprar">
                        <label>Comprador</label>
                    </div>
                    <div>
                        <input type="radio" name="userType" value="Vender">
                        <label>Vendedor</label>
                    </div>
                </div>
                <br>
                <p>
                    <label for="interests">Categorias de Interés</label>
                    <br>
                    <input type="checkbox" name="interests" value="Electro">
                    <label>Electro</label>
                    <br>
                    <input type="checkbox" name="interests" value="Moda">
                    <label>Moda</label>
                    <br>
                    <input type="checkbox" name="interests" value="Hogar">
                    <label>Hogar</label>
                    <br>
                    <input type="checkbox" name="interests" value="Juguetería">
                    <label>Juguetería</label>
                    <br>
                    <input type="checkbox" name="interests" value="Vida sana">
                    <label>Vida sana</label>
                </p>
                <br>
                <p>
                    <label for="userImage">Foto de Usuario</label>
                    <br>
                    <input type="file" name="userImage" accept=".jpg,.png,.jpeg" required>
                </p>
                <br>
                <p>
                    <label for="password">Contraseña</label>
                    <br>
                    <input type="password" name="password" id="password" required>
                </p>
                <br>
                <p>
                    <label for="passwordConfirmation">Confirmar contraseña</label>
                    <br>
                    <input type="passwordConfirmation" name="passwordConfirmation" id="passwordConfirmation" required>
                </p>
                <br>
                <div class="buttons">
                    <p>
                        <input class="submit-button" type="button" value="Enviar">
                    </p>
                    <br>
                    <p>
                        <input class="reset-button" type="button" value="Borrar">
                    </p>
                </div>
            </div>
        </form>
    </main>
    <!-- Footer -->
    <%- include('./partials/footer') %>
</body>
</html>