<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head', {title: 'Iniciar Sesión'}) %> ;
<body>
    <!-- Header -->
    <%- include('../partials/headerNavbar') %>
        <form action="login.html" method="POST">
            <div class="form-block">
                <p>
                    <label for="username">Nombre de Usuario</label>
                    <br>
                    <input type="text" name="username" id="username" required>
                </p>
                <br>
                <p>
                    <label for="password">Contraseña</label>
                    <br>
                    <input type="password" name="password" id="password" required>
                </p>
                <br>
                <input class= "submit-button" type="submit" value="Entrar" required>
            </div>
        </form>
    <!-- Footer -->
    <%- include('../partials/footer') %>
</body>
</html>